.wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-height: 75vh;
}

.flex-inner {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: auto;
}

.p-title {
  margin: 0 0 0 16px;
  font-size: 2.5rem;
}

.menu-list {
  padding: 16px;
  width: 100%;
  margin-top: 16px;
  max-height: 55vh;
  overflow: auto;
}

.menu-list ul {
  display: grid;
  grid-auto-rows: 1fr;
  grid-gap: 0;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-list li {
  display: flex;
  align-items: center;
  font-weight: 400;
  padding-left: 0;
  margin: 0;
  padding: 10px 12px;
  cursor: pointer;
  transition-property: background, color;
  transition-duration: .15s;
  transition-timing-function: ease-out;
  border-radius: 5px;
  font-size: 2rem;
  max-width: 90vw;
  overflow: hidden;
}

.menu-list ul:hover > .menu-list li:not(:hover) {
  color: hsl(68, 18%, 43%);
}

.menu-list li:hover {
  background: hsl(69, 29%, 91%);
}
