.content {
	padding: 0;
	margin-top: 0;
}
.card {
	position: relative;
	width: calc(100vw - 20px);
	padding: 10px;
	padding-top: 3.375rem;
	min-height: 100vh;
	background: #fff;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.title {
	position: relative;
	top: 30px;
	left: -10px;
	width: 75%;
	padding: 0.5rem;
	background: #7D825B;
	border-radius: 30px;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}
.title h1 {
	font-family: 'Pacifico', cursive;
	font-size: 22px;
	color: #EDEFE2;
}
.bookmark {
	position: absolute;
	right: 0.5rem;
	top: 5.675rem;
}
.bookmark button {
	color: red;
	font-size: 2.5rem;
	background: none;
	border: none;
}
.text_content {
	margin-top: 1.5rem;
}
.text {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 25px;
	font-size: 21px;
}
.text p {
	margin-bottom: 1.5rem;
}
.text ol {
	margin-left: 2rem;
	margin-bottom: 1.5rem;
}
.text ul {
	margin-left: 2rem;
	margin-bottom: 1.5rem;
}
.text pre {
	margin-bottom: 1.5rem;
}
.date {
	text-align: right;
	width: 90%;
	float: right;
	margin-right: 10px;
	font-size: 15px;
	font-family: 'Lobster', cursive;
}
.coments {
	width: 100%;
	margin-top: 3rem;
	margin-left: auto;
	margin-right: auto;
	flex-grow: 1;
	border-top: 3px dashed #000;
	text-align: center;
	background: #c0c0c0;
	overflow: hidden;
	padding-bottom: 35px;
}
.coments span {
	display: block;
	top: 10px;
	font-family: 'Pacifico', cursive;
	font-size: 33px;
	color: #7D825B;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}
.coment, .you_coment {
	word-break: break-word;
	width: 90%;
	margin-top: 20px;
	border-radius: 18px;
	position: relative;
}
.coment {
	float: left;
	margin-left: 14px;
	background: white;
	border-bottom-left-radius: 0;
}
.coment::before, .coment::after, .you_coment::before {
	content: "";
	position: absolute;
	bottom: -10px;
	height: 25px;
}
.you_coment {
	right: 14px;
	border-bottom-right-radius: 0;
	background: #dcdcdc;
	float: right;
}
.you_coment::before {
	right: 0;
	width: 20px;
	background-color: #dcdcdc;
	border-bottom-left-radius: 26px 24px;
}
.coment .author, .you_coment .author {
	font-size: 15px;
	color: #af43f1;
}
.coment .author {
	width: 100%;
	text-align: left;
	padding-left: 8px;
}
.you_coment .author {
	width: 98%;
	text-align: right;
	right: 8px;
}
.coment .coment_text {
	text-align: left;
	padding-left: 12px;
	font-size: 18px;
	width: 100%;
	margin-top: 3px;
}
.you_coment .coment_text {
	text-align: right;
	right: 12px;
	font-size: 18px;
	width: 98%;
	margin-top: 3px;
}
.coment .coment_date {
	font-size: 15px;
	float: right;
	margin-right: 8px;
	font-family: 'Lobster', cursive;
}
.you_coment .coment_date {
	float: left;
	margin-left: 8px;
	font-family: 'Lobster', cursive;
}
.add_coment {
	width: 100%;
}
.block {
	position: relative;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
.block input {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	padding: 10px 0;
	font-size: 16px;
	border: none;
	border-bottom: 1px solid;
	background: transparent;
	outline: none;
}
.block label {
	position: absolute;
	top:0;
	left: 0;
	padding: 25px 0;
	font-size: 16px;
	pointer-events: none;
	transition: 0.3s;
}
.block input:focus ~ label,
.block input:valid ~ label {
	top: -20px;
	left: 0;
	color: #008080;
	font-size: 12px;
}
.next input {
	width: 70%;
	height: 45px;
	border-radius: 12px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1rem;
	margin-bottom: 10px;
	transition-duration: 0.8s;
}
.next input:hover {
	background-color: #af43f1;
	color: white;
	border-color: #af43f1;
}
.non_auth {
	width: 80%;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
	text-align: center;
	font-size: 25px;
}
.non_auth a {
	text-decoration: none;
}
.non_auth a span {
	font-family: 'Pacifico', cursive;
	color: #af43f1;
	font-size: 18px;
}
.detail_coments a {
	position: relative;
	padding: 10px 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.3);
	width: 50%;
	max-width: 13rem;
	top: 0.9rem;
	transition: 1s;
	text-decoration: none;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0.5rem;
	outline: none;
}
.detail_coments a:hover {
	box-shadow: 0 0 0.6rem #50dfdb;
}
.detail_coments a:hover::before {
	width: 200%
}
@keyframes spin {
	100% { 
    	-webkit-transform: rotate(360deg); 
    	transform: rotate(360deg); 
    }
}
.detail_coments a::before {
	content: '';
	position: absolute;
	width: 15%;
	height: 1000%;
	background: #50dfdb;
	transition: 1s;
	animation: spin 4s linear infinite;
	outline: none;
}
.detail_coments a::after {
	content: '';
	position: absolute;
	inset: 4px;
	background: white;
	transition: 0.5s;
	z-index: 1;
	outline: none;
}
.detail_coments a span {
	position: relative;
	z-index: 2;
	color: black;
	font-size: 1rem;
	transition: 0.5s;
}


.back {
	font-size: 3rem;
	color: black;
	position: fixed;
	border-radius: 50%;
	background: #50dfdb;
	top: 4.375rem;
	left: 1rem;
	z-index: 10;
	cursor: pointer;
}
.coment_list {
	width: 90%;
	height: auto;
	margin-top: 3.375rem;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	padding-bottom: 0.9375rem;
}
