.about {
	font-family: 'Fruktur', cursive;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.7rem;
	color: white;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}
.about h2 {
	font-family: 'Lobster', cursive;
	text-align: center;
	font-size: 2.2rem;
	margin-top: 1rem;
}
.about h3 {
	font-size: 1.8rem;
	width: 100%;
	text-align: center;
	margin-top: 1rem;
	font-family: 'Lobster', cursive;
}
.telegram {
	width: 75%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1rem;
	margin-bottom: 1rem;
	background: #50dfdb;
	border-radius: 0.6rem;
	text-align: center;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	transition: 0.5s;
}
.telegram p {
	font-size: 1.4rem;
	font-family: 'Lobster', cursive;
	text-align: center;
}
.telegram:hover {
	box-shadow: 0 0 1rem #50dfdb,
	0 0 1.5rem #50dfdb;
}