{% extends 'base.html' %}
{% load static %}

{% block script %}
<link rel="stylesheet" href="{% static 'css/about/index.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Fruktur&family=Source+Sans+Pro&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="about">
	Добро пожаловать ко мне, на мой проект!
	<h2>Vladalek</h2>
	Проект Vladalek - это не просто личный блог, это ресурс знаний. Здесь я буду стараться в краткой и понятной форме излагать Вам всё, чему я успел научится. Но так, что-бы всё было понятно и новичку.
	<h3>Бесплатно</h3>
	Также, цель моего проекта - это бесплатность. Я буду абсолютно бесплатно делится с Вами секретами, как бесплатно создать свой проект, приложение, сайт, бота... И так далее.
	<h3>Кроссплатформенность</h3>
	На страницах сайта, Вы найдёте руководства, как программировать не только на компьютере, но и на телефоне. К слову, весь этот сайт я создал на телефоне. Ни разу не прибегнув к компьютеру.
	<h3>Интерес</h3>
	Но Вы не думайте, что я буду выкладывать только познавательные посты. На сайте Вы найдёте смешные истории и анекдоты из жизни программистов. Лайфхаки. Приколы. И многое другое.
	<h3>Группы</h3>
	У меня есть канал в телеграмм, в котором я советуюсь с Вами про тему следующих постов, провожу опросы, добавляю новые статьи из сайта, создаю задачки и многое другое.
	<div class="telegram" onclick="window.location='https://t.me/vladalek_channel';">
		<p>Заходи</p>
	</div>
</div>

{% endblock %}