{% extends 'base.html' %}
{% load static %}

{% block script %}
<link rel="stylesheet" href="{% static 'css/about/index.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Fruktur&family=Source+Sans+Pro&display=swap" rel="stylesheet">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="about">
	<div class="part" data-aos="zoom-in">
		<h2>Добро пожаловать ко мне, на мой проект!</h2>
	</div>
	<div class="part" data-aos="fade-down">
		<h2>Vladalek</h2>
		Проект Vladalek - это не просто личный блог, это ресурс знаний. Здесь я буду стараться в краткой и понятной форме излагать Вам всё, чему я успел научится. Но так, что-бы всё было понятно и новичку.
	</div>
	<div class="part" data-aos="fade-right">
		<h2>Бесплатно</h2>
		Также, цель моего проекта - это бесплатность. Я буду абсолютно бесплатно делится с Вами секретами, как бесплатно создать свой проект, приложение, сайт, бота... И так далее.
	</div>
	<div class="part" data-aos="fade-left">
		<h2>Кроссплатформенность</h2>
		На страницах сайта, Вы найдёте руководства, как программировать не только на компьютере, но и на телефоне. К слову, весь этот сайт я создал на телефоне. Ни разу не прибегнув к компьютеру.
	</div>
	<div class="part" data-aos="fade-up">
		<h2>Интерес</h2>
		Но Вы не думайте, что я буду выкладывать только познавательные посты. На сайте Вы найдёте смешные истории и анекдоты из жизни программистов. Лайфхаки. Приколы. И многое другое.
	</div>
	<div class="part" data-aos="zoom-out">
		<h2>Группы</h2>
		У меня есть канал в телеграмм, в котором я советуюсь с Вами про тему следующих постов, провожу опросы, добавляю новые статьи из сайта, создаю задачки и многое другое.
		<div class="telegram" onclick="window.location='https://t.me/vladalek_channel';">
			<p>Заходи</p>
		</div>
	</div>
</div>

{% endblock %}

{% block js %}
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
	AOS.init();
</script>
{% endblock %}