* {
	margin: 0;
	padding: 0;
}
body {
	background-color: #7D825B;
  background: linear-gradient(147deg, #DBEA8D 0%, #7D825B 74%);
	font-family: 'Source Sans Pro', sans-serif;
	min-height: 100vh;
}
header {
   height: 3.375rem;
   width: 100%;
   background: #7D825B;
   position: fixed;
   left: 0;
   top: 0;
   z-index: 999999;
   overflow: hidden;
   text-align: center;
}
header .logo {
	margin-top: 0.625rem;
}
header a {
    font-family: 'ZCOOL KuaiLe', cursive;
    font-size: 1.75rem;
    color:  #EDEFE2;
    text-decoration: none;
    cursor: pointer;
    outline: none;
}
header .menu {
	position: absolute;
	left: 0.4375rem;
	top: 0.625rem;
	font-size: 1.6rem;
	height: 1.875rem;
	width: 1.875rem;
	padding: 0;
	color: #EDEFE2;
	outline: none;
	cursor: pointer;
}
header .avatar {
	position: absolute;
	right: 0.4375rem;
	top: 0.625rem;
	font-size: 1.75rem;
	color: #EDEFE2;
	outline: none;
	padding: 0;
}
header .avatar img {
	width: 1.85rem;
	height: 1.85rem;
	cursor: pointer;
}
header .avatar i {
	cursor: pointer;
}
.sidenav {
  height: 100%;
  float: left;
  width: 0;
  position: fixed;
  z-index: 999;
  text-align: left;
  top: 0;
  left: 0;
  background-color: #7D825B;
  overflow-x: hidden;
  padding-top: 3.75rem;
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear;
}
.sidenav i {
  margin: 1rem;
  font-size: 2rem;
  outline: none;
  color: #EDEFE2;
  cursor: pointer;
  transition: 0.3s;
}
.sidenav i:hover {
  color: #DBEA8D;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 0.9375rem;}
  .sidenav a {font-size: 1.125rem;}
}
.content {
	margin-top: 3.375rem;
	width: 100%;
	padding-top: 5vh;
}