* {
	margin: 0;
	padding: 0;
}
body {
	background-color: #7D825B;
  background: linear-gradient(147deg, #DBEA8D 0%, #7D825B 74%);
	font-family: 'Source Sans Pro', sans-serif;
	min-height: 100vh;
}
header {
   height: 3.375rem;
   width: 100%;
   background: #7D825B;
   position: fixed;
   left: 0;
   top: 0;
   z-index: 999999;
   overflow: hidden;
   text-align: center;
}
header .logo {
	margin-top: 0.625rem;
}
header a {
    font-family: 'ZCOOL KuaiLe', cursive;
    font-size: 1.75rem;
    color:  #EDEFE2;
    text-decoration: none;
    cursor: pointer;
    outline: none;
}
.navbar {
	position: fixed;
	bottom: 0;
	z-index: 999999;
	width: 100vw;
  background-color: #7D825B;
}
.navbar-list {
  display: flex;
  position: relative;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  list-style: none;
}
.navbar-link {
  display: inline-block;
  padding: 0.8rem;
  text-decoration: none;
  color: #EDEFE2;
  transition: 0.3s;
  border-radius: 0.4rem;
}
.navbar-link:hover {
  color: #483cff;
  background-color: #EDEFE2;
}
.navbar-link-icon {
  font-size: 2.4rem;
}
.navbar-underscore {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  background-color: #483cff;
  transition: 0.3s;
}
.content {
	margin-top: 3.375rem;
	width: 100%;
	padding-top: 5vh;
	margin-bottom: 5rem;
}
