.message {
	width: 98%;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	height: 6.5rem;
}
.message img {
	width: 3rem;
	height: 3rem;
	margin-top: auto;
	z-index: 2;
}
.message i {
	z-index: 2;
	font-size: 3rem;
	margin-top: auto;
}
.my_message {
	width: 80%;
	height: 4rem;
	padding: 0.5rem;
	font-size: 1.5rem;
	font-family: 'Lobster', cursive;
	background: white;
	border-radius: 18px;
	border-bottom-left-radius: 0;
	position: relative;
	margin-left: 1rem;
}
.my_message p {
	padding-left: 0.5rem;
	overflow: hidden;
	max-height: 100%;
	z-index: 2;
}
.my_message p#author {
	position: absolute;
	font-size: 1rem;
	color: #af43f1;
	right: 0.5rem;
	bottom: 0.5rem;
	z-index: 2;
}
.my_message::before {
	left: -7px;
	width: 20px;
	background-color: white;
	border-bottom-right-radius: 26px 24px;
	content: "";
	position: absolute;
	bottom: -10px;
	height: 25px;
}
.my_message::after {
	left: -26px;
	width: 26px;
	background-color: #383838;
	border-bottom-right-radius: 50px;
	content: "";
	position: absolute;
	bottom: -10px;
	height: 25px;
}
.all_greetings {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.greetings {
  position: relative;
  width: 15.7rem;
  background: linear-gradient(to top,  #383838, #000080);
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0 20px 50px rgb(23, 32, 90);
  border: 2px solid #2a3cad;
  color: white;
  margin-top: 2.2rem;
  margin-left: 1.1rem;
  margin-right: 1.1rem;
}
.greetings:after {
	content: "";
	padding-top: 100%;
	display: block;
}
.greetings:before{
	content: '';
	position: absolute;
	top:0;
	left:-100%;
	width:100%;
	height:100%;
	background: rgba(255,255,255,0.1);
	transition:0.5s;
	pointer-events: none;
}
.greetings:hover:before{
	left:-50%;
	transform: skewX(-5deg);
}
.greetings span{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	box-sizing: border-box;
}
.greetings span:nth-child(1)
{
	transform:rotate(0deg);
}
.greetings span:nth-child(2)
{
	transform:rotate(90deg);
}

.greetings span:nth-child(3)
{
	transform:rotate(180deg);
}

.greetings span:nth-child(4)
{
	transform:rotate(270deg);
}
.greetings span:before
{
	content: '';
	position: absolute;
	width:100%;
	height: 2px;
	background: #50dfdb;
	animation: greetings 4s linear infinite;
}

@keyframes greetings {
	0% {
		transform:scaleX(0);
		transform-origin: left;
	}
	50%
	{
		transform:scaleX(1);
		transform-origin: left;
	}
	50.1%
	{
		transform:scaleX(1);
		transform-origin: right;
	}
	100%
	{
		transform:scaleX(0);
		transform-origin: right;
	}
} 
.greetings .text {
	position: absolute;
	height: auto;
	width: 13.7rem;
	text-align: center;
	left: 1rem;
	bottom: 2.3rem;
}
.greetings .icon {
	position: absolute;
	text-align: center;
	width: 100%;
	height: auto;
	font-size: 3rem;
	top: 1rem;
}
.greetings .icon h3 {
	font-size: 1rem;
}
.hello {
	width: 80%;
	border-radius: 1rem;
	background: #50dfdb;
	margin-left: auto;
	margin-right: auto;
	padding: 0.2rem;
	text-align: center;
	color: white;
	box-shadow: 0 0 10px #50dfdb;
	overflow: hidden;
}
.hello .text {
	background: #383838;
	border-radius: 1rem;
	padding: 2rem;
	font-size: 1.3rem;
	font-family: 'Lobster', cursive;
}
.hello a {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.3);
	margin: 25px;
	margin-left: auto;
	margin-right: auto;
	width: 13.5rem;
	padding-top: 0.8rem;
	padding-bottom: 0.8rem;
	transition: 1s;
	text-decoration: none;
	overflow: hidden;
}
.hello a:hover {
	background: #50dfdb;
	box-shadow: 0 0 10px #50dfdb,
	0 0 20px #50dfdb;
}
.hello a::before {
	content: '';
	position: absolute;
	width: 10%;
	height: 1000%;
	background: #50dfdb;
	transition: 1s;
	animation: spin 4s linear infinite;
	animation-delay: calc(0.31s*var(--i))
}
.hello a:hover::before {
	width: 100%
}
@keyframes spin {
	100% { 
    	-webkit-transform: rotate(360deg); 
    	transform: rotate(360deg); 
    }
}
.hello a::after {
	content: '';
	position: absolute;
	inset: 4px;
	background: #383838;
	transition: 0.5s;
	z-index: 1;
}
.hello a:hover::after {
	background: #50dfdb;
}
.hello a span {
	position: relative;
	z-index: 2;
	font-size: 1.5rem;
	color: white;
	transition: 0.5s;
	font-family: 'Pacifico', cursive;
}
.border_news {
	width: 35%;
	top: 0;
	height: auto;
	border-radius: 0.5rem;
	background: #fd0e30;
	padding: 0.14rem;
	box-shadow: 0 0 10px #fd0e30;
	font-family: 'Lobster', cursive;
}
.news {
	border-radius: 0.5rem;
	background: #383838;
	padding: 0.3rem;
	color: white;
}
.news p {
	text-align: center;
	font-size: 1.6rem;
}
.border_new {
	background: #50dfdb;
	padding-top: 0.15rem;
}
.new {
	background: #383838;
}
.news_title {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 1.5rem;
	font-family: 'Londrina Solid', cursive;
}
.news_text {
	font-size: 1.2rem;
	width: 100%;
	font-family: 'Londrina Solid', cursive;
	margin-top: 0.4rem;
	margin-bottom: 0.4rem;
}
.news_date {
	text-align: right;
	margin-right: 0.5rem;
	font-size: 0.9 rem;
}
.no_news {
	text-align: center;
	font-size: 1.5rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.border_articles {
	width: 40%;
	top: 1rem;
	margin-left: 5.5rem;
	height: auto;
	border-radius: 0.5rem;
	background: #00ffff;
	padding: 0.14rem;
	box-shadow: 0 0 10px #00ffff;
	font-family: 'Lobster', cursive;
}
.information {
	display: flex;
	margin-top: 3rem;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
@media screen and (max-width: 450px) {
	.information {
		display: block;
	}
	.border_news, .border_articles {
		width: 85%;
		margin-top: 3rem;
		margin-left: auto;
		margin-right: auto;
	}
}
.articles {
	border-radius: 0.5rem;
	background: #383838;
	padding: 0.3rem;
	color: white;
}
.articles p {
	text-align: center;
	font-size: 1.6rem;
}
.border_article {
	background: #50dfdb;
	padding-top: 0.15rem;
}
.article {
	background: #383838;
}
.article_title {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 1.5rem;
	font-family: 'Londrina Solid', cursive;
}
.article_about {
	font-size: 1.2rem;
	width: 100%;
	font-family: 'Londrina Solid', cursive;
	margin-top: 0.4rem;
	margin-bottom: 0.4rem;
}
.article_date {
	text-align: right;
	margin-right: 0.5rem;
	font-size: 0.9 rem;
}
.no_articles {
	text-align: center;
	font-size: 1.5rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
