{% extends 'base.html' %}
{% load static %}

{% block script %}
<link rel="stylesheet" href="{% static 'css/blog/create_article.css' %}">
{% endblock %}

{% block title %}Создать категорию{% endblock %}

{% block content %}

<div class="create">
	<b>Создать категорию</b>
	{% if messages %}
	<div class="error">
		{% for message in messages %}
		<p>{{ message }}</p>
		{% endfor %}
	</div>
	{% endif %}
	<div class="card">
		<form method="POST" action="{% url 'blog:create_category' %}">
			{% csrf_token %}
			<div class="part">
				<input name="category" id="category" type="text" class="form-control" required autocomplete="off">
				<label>Название категории</label>
			</div>
			<div class="next">
				<input type="submit" id="next" value="Создать" />
			</div>
		</form>
	</div>
</div>

{% endblock %}