{% extends 'base.html' %}
{% load static %}

{% block script %}
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/css/swiper.min.css'>
<link rel="stylesheet" href="{% static 'css/blog/index.css' %}">
{% endblock %}

{% block content %}

{% if articles_list %}
<div class="blog-slider">
  <div class="blog-slider__wrp swiper-wrapper">
    {% for a in articles_list %}
    <div class="blog-slider__item swiper-slide">
      <div class="blog-slider__img"> 
        <img src="https://res.cloudinary.com/muhammederdem/image/upload/q_60/v1535759872/kuldar-kalvik-799168-unsplash.webp" alt="">
      </div>
      <div class="blog-slider__pagination"></div>
      <div class="blog-slider__content">
        <span class="blog-slider__code">{{a.pub_date}}</span>
        <div class="blog-slider__title">{{a.article_title}}</div>
        <div class="blog-slider__text">{{a.article_about}}</div>
        <a href="{% url 'blog:detail' a.id %}" class="blog-slider__button">Читати далі</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% else %}
<div class="no">Статей немає :(</div>
{% endif %}

{% endblock %}

{% block js %}

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/js/swiper.min.js'></script>
<script src="{% static 'js/blog/index.js' %}"></script>

{% endblock %}
