* {
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
}
body {
	background: #383838;
	font-family: 'Fruktur', cursive;
	font-family: 'Source Sans Pro', sans-serif;
}
header {
   height: 3.375rem;
   width: 100%;
   background: #696969;
   position: fixed;
   left: 0;
   top: 0;
   z-index: 999999;
   overflow: hidden;
   text-align: center;
}
header .logo {
	margin-top: 0.625rem;
}
header a {
    font-family: 'ZCOOL KuaiLe', cursive;
    font-size: 1.75rem;
    color:  white;
    text-decoration: none;
    cursor: pointer;
    outline: none;
}
header .menu {
	position: absolute;
	left: 0.4375rem;
	top: 0.625rem;
	font-size: 1.6rem;
	height: 1.875rem;
	width: 1.875rem;
	padding: 0;
	color: white;
	outline: none;
	cursor: pointer;
}
header .avatar {
	position: absolute;
	right: 0.4375rem;
	top: 0.625rem;
	font-size: 1.75rem;
	color: white;
	outline: none;
	padding: 0;
}
header .avatar img {
	width: 1.85rem;
	height: 1.85rem;
	cursor: pointer;
}
header .avatar i {
	cursor: pointer;
}
.sidenav {
  height: 100%;
  float: left;
  width: 0;
  position: fixed;
  z-index: 999;
  text-align: left;
  top: 0;
  left: 0;
  background-color: #696969;
  overflow-x: hidden;
  padding-top: 3.75rem;
  transition: 0.5s;
}
.sidenav a {
  padding: 0.5rem 0.5rem 0.5rem 2rem;
  text-decoration: none;
  font-size: 1.5625rem;
  color: white;
  display: block;
  transition: 0.3s;
  outline: none;
}
.sidenav a:hover {
  color: #808080;
}
.sidenav i {
  position: absolute;
  top: 1rem;
  right: 1.5625rem;
  font-size: 2rem;
  outline: none;
  color: white;
  cursor: pointer;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 0.9375rem;}
  .sidenav a {font-size: 1.125rem;}
}
.content {
	margin-top: 3.375rem;
	width: 100%;
	min-height: 100%;
	padding-top: 1rem;
}
footer {
	position: relative;
	z-index: 5;
	width: 100%;
	background: #202020;
	font-size: 2.1rem;
	color: white;
	padding-bottom: 0.8rem;
	overflow: hidden;
	margin-top: 1rem;
}
footer i {
	margin-left: 0.8rem;
	cursor: pointer;
}
footer p {
	float: right;
	font-size: 1rem;
}
.footer_text {
	width: 100%;
	margin-top: 0.5rem;
	text-align: center;
	font-family: 'ZCOOL KuaiLe', cursive;
}
