{% extends 'base.html' %}
{% load static %}

{% block script %}
<link rel="stylesheet" href="{% static 'css/account/about.css' %}">
<script src="{% static 'js/account/about.js' %}"></script>
{% endblock %}

{% block title %}{{user.username}}{% endblock %}

{% block content %}

<div class="card">
	<div class="title">
		<div class="image">
			{% if user.avatar %}
			<img src={{user.avatar}} alt={{user.username}}>
			{% else %}
			<i class="fas fa-user-circle" id="no_avatar"></i>
			{% endif %}
			<i class="fas fa-pen-square" id="edit"></i>
		</div>
		<b id="username">{{user.username}}</b>
		<div class="part" id="bookmark">
			<label>Избранное</label>
			<i class="fa-solid fa-angle-right" id="angle"></i>
		</div>
		<div class="part" id="articles">
			<label>Мои статьи</label>
			<i class="fa-solid fa-angle-right" id="angle"></i>
		</div>
		<div class="part" onclick="window.location='{% url "blog:create_article" %}';">Создать статью</div>
		<div class="part_red" onclick="window.location='{% url "account:logout" %}';">Выйти</div>
		<div class="part_delete" onclick="window.location='{% url "account:delete" %}';">Удалить аккаунт</div>
	</div>
	
	<div class="edit_avatar">
		Выберите аватар:
		<form method="POST" action=".">
			{% csrf_token %}
			<div class="images">
				{% if user.is_superuser %}
				{% for i in '012345678'|make_list %}
					<input name="avatar" type="radio" id="{{i}}.png" value="/static/media/avatars/{{i}}.png" class="avatar_radio"><label for="{{i}}.png"><img src="/static/media/avatars/{{i}}.png" /></label>
				{% endfor %}
				{% else %}
				{% for i in '12345678'|make_list %}
					<input name="avatar" type="radio" id="{{i}}.png" value="/static/media/avatars/{{i}}.png" class="avatar_radio"><label for="{{i}}.png"><img src="/static/media/avatars/{{i}}.png" /></label>
				{% endfor %}
				{% endif %}
			</div>
			<div class="next">
				<input type="submit" name="change_photo" value="ОК"  />
			</div>
		</form>
	</div>
	
	<div class="favourites">
		{% if bookmark %}
		{% for i in bookmark %}
		<div class="part" onclick="window.location='{% url "blog:detail" i.id %}';">
			{{i.article_title}}
			<hr>
		</div>
		{% endfor %}
		{% else %}
		У вас нет избранных статей
		{% endif %}
	</div>
	
	<div class="articles">
		{% if articles %}
		{% for i in articles %}
		<div class="part">
			{{i.article_title}}
			<div class="change">
				<i class="fa-solid fa-pen" id="change" onclick="window.location='{% url "blog:edit_article" i.id %}';">Изменить</i>
				<br>
				<i class="fa-solid fa-trash" id="delete" onclick="window.location='{% url "blog:detail" i.id %}';">Удалить</i>
			</div>
			<hr>
		</div>
		{% endfor %}
		{% else %}
		У вас нет собственных статей
		{% endif %}
	</div>
</div>

{% endblock %}