{% extends 'base.html' %}
{% load static %}

{% block script %}
<link rel="stylesheet" href="{% static 'css/account/login.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
{% endblock %}

{% block title %}Удалить аккаунт{% endblock %}

{% block content %}

<div class="login">
	<b>Удаление аккаунта</b>
	{% if messages %}
	<div class="error">
		{% for message in messages %}
		<p>{{ message }}</p>
		{% endfor %}
	</div>
	{% endif %}
	<div class="card">
		<form method="POST" action=".">
			{% csrf_token %}
			<div class="user">
				<input name="password" id="password" type="password" class="form-control" required>
				<label>Ваш пароль</label>
			</div>
			<div class="next">
				<input type="submit" id="next" value="Подтвердить"  />
			</div>
		</form>
	</div>
</div>

{% endblock %}
		