{% extends 'base.html' %}
{% load static %}

{% block script %}
<link rel="stylesheet" href="{% static 'css/account/login.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
{% endblock %}

{% block title %}Вход{% endblock %}

{% block content %}

<div class="login">
	<b>Вход</b>
	<div class="card">
		<img src="{% static 'media/account/google.png' %}">
		<button onclick="window.location='{% url "social:begin" "google-oauth2" %}';"><span>С помощью Google</span><span>Войти</span></button>
	</div>
</div>

{% endblock %}
