{% extends 'base.html' %}
{% load static %}

{% block script %}
<link rel="stylesheet" href="{% static 'css/account/register.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="register">
	<b>Сброс пароля</b>
	{% if messages %}
	<div class="error">
		{% for message in messages %}
		<p>{{ message }}</p>
		{% endfor %}
	</div>
	{% endif %}
	<div class="card">
		<form method="post" action=".">
			{% csrf_token %}
			<div class="detail">
				<input name="username" id="username" type="text" required>
				<label>Логин или электронная почта</label>
			</div>
			<div class="next">
				<input type="submit" value="Готово" />
			</div>
		</form>
	</div>
</div>

{% endblock %}