{% extends 'base.html' %}
{% load static %}

{% block script %}
<link rel="stylesheet" href="{% static 'css/home/index.css' %}">
{% endblock %}

{% block content %}
<div class="text">
  <h1>Це легко</h1>
  <p>На моєму сайті ви знайдете найкращі поради та приклади коду з Python, HTML, CSS та JavaScript.
Якщо ви шукаєте найбільш ефективний спосіб навчитися програмуванню, мій блог - це саме те, що вам потрібно.
Незалежно від вашого досвіду у програмуванні, я допоможу вам покращити свої навички та зробити ваш код більш чистим та ефективним.
Відтепер ви можете залишитися в курсі найновіших технологій та трендів у програмуванні, завдяки моєму блогу.
Я пояснюю складні концепції програмування у легкій для розуміння формі, щоб ви могли насолоджуватися процесом навчання та розвитку своїх навичок.
Безліч корисної інформації про програмування та його різноманітні аспекти чекає на вас на моєму блозі.</p>
  <a href="{% url 'blog:index' %}">Читати</a>
</div>

{% endblock %}
